{% extends "base.html" %}

{% block content %}
    {% for post in posts %}    
        <section class="post">
            <header class="post-header">
            <h2 class="post-title"> 
                <a href="/posts/{{ post.key().id() }}"> {{ post.subject }}  </a>
            </h2>
            <p class="post-meta"> Posted on {{ post.created.strftime("%b %d, %Y") }} </p>
            <div class="post-description">
                <p>
                    {{ post.content }}
                </p>
            </div>

            </header>
        </section>
    {% endfor %}
{% endblock %}
